@font-face {
  font-family: "Inter";

  src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype'),
    url('assets/fonts/static/Inter-Bold.ttf') format('truetype'),
    url('assets/fonts/static/Inter-ExtraBold.ttf') format('truetype');


  /* src: url('fonts/fira/eot/FiraSans-Regular.eot');
  src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
       url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
       url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
       url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype'); */
}

:root {
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  border: 3px solid red;
  margin-right: 0px;
  border-right: 0px;
  padding-right: 0px;
}

.nav-element {
  padding: 1em;
  border: 3px solid blue;
}